@font-face {
    font-family: 'bernard_mt_condensedregular';
    src: font-url('bernard-mt-condensed-webfont.woff2') format('woff2'),
         font-url('bernard-mt-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
