<footer>
	<div class="container">
		
		<div class="row">
			<div class="col-5"><a href="https://vk.com/dfkz1">Contact me!</a></div>
			<div class="col">
				<li>
					<!-- Button trigger modal -->
					<button data-toggle="modal" data-target="#exampleModal1">
						About
					</button>

				</li> |
				<li>
					<!-- Button trigger modal -->
					<button data-toggle="modal" data-target="#exampleModal">
						Support
					</button>

				</li>
			</div>
		</div>
		
	</div>
</footer>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Donate</h5>

			</div>
			<div class="modal-body">
				<!-- Yandex donate -->
				<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=Support%20Author&targets-hint=Support%20author&default-sum=&button-text=14&payment-type-choice=on&mobile-payment-type-choice=on&hint=&successURL=&quickpay=shop&account=410014827911587" width="100%" height="222" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">About</h5>

			</div>
			<div class="modal-body">
				<p>Current rails application is a visual self-automated clone of <a href="https://pp.userapi.com/c830208/v830208861/faa79/RPgdnYYIQWA.jpg">this meme</a>. 
					In process of deployment not a single Oleg was stroked or murdered(by my hands).
					This is <a href="https://github.com/Vterebenin/OlegIt">open-source project</a>, so you 
					can see it here on my <a href="https://github.com/Vterebenin">github</a>. 
					And yeah, this font sux.
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>